.footer {
  background-color: @white;

  h4 {
  color: @blue_dark;
  }

  p {
  color:
  fade(@blue_dark, 50%);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
  padding: 5px 5% 0;
  }

  @media (max-width: 767px) {
  padding: 0 4%;
  }
}

.footer__top-container {
  height: 320px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h4 {
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  }
/*а в один лайн хайт нельзя?*/
  p {
  line-height: 16px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  @media (max-width: 767px) {
  height: auto;
  flex-direction: column;
  }
}

.footer__top-item {
  &:nth-child(2) {
  display: flex;
  flex-wrap: wrap;

  h4 {
  order: 1;
  width: 100%;
  height: 1px;
  }

  .footer__top-item_first {
  order: 2;
  width: 70%;
  }

  .footer__top-item_second {
  order: 3;
  width: 30%;
  }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
  &:first-child {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  &:nth-child(2) {
  order: 2;
  width: 50%;
  align-self: flex-start;

  .footer__top-item_first {
  width: 100%;
  }

  .footer__top-item_second {
  width: 100%;
  margin-top: -15px;
  }
  }

  &:nth-child(3) {
  order: 3;
  width: 50%;
  align-self: flex-start;
  }
  }

  @media (max-width: 767px) {
  &:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  }

  &:nth-child(2) {
  display: none;
  }

  &:nth-child(3) {
  display: none;
  }
  }
}

.footer__logo img {
  height: 52px;
  width: 216px;

  @media (max-width: 767px) {
  width: 100%;
  }
}

.footer__mobile-item {
  display: none;

  @media (min-width: 768px) and (max-width: 1023px) {
  display: flex;
  }

  @media (max-width: 767px) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 30px 0;
  }
}

.footer__top-item_mobile {
  @media (min-width: 768px) {
  display: none;
  }

  @media (max-width: 767px) {
  width: 100%;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  }
}



.footer__socials img {
  width: 26px;
  height: 26px;
  margin-top: 80px;
  margin-right: 15px;

  @media (max-width: 1023px) {
  margin-top: 0;
  margin-right: 0;
  margin-left: 15px;
  }

  @media (max-width: 767px) {
  margin-right: 7px;
  margin-left: 7px;
  }
}

.footer__logo:after {
  @media (min-width: 768px) and (max-width: 1023px) {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  color: @white;
  content: ".";
  border-top: @border_grey;
  }
}

.footer__socials:after {
  @media (max-width: 767px) {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 50px;
  color: @white;
  content: ".";
  border-top: @border_grey;
  }
}

.footer__bottom-container {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;

  @media (min-width: 768px) and (max-width: 1023px) {
  justify-content: space-between;
  }
/*что это тут*?/
  @media (min-width: 767px) {
  &:after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  content: ".";
  }
  }

  @media (max-width: 767px) {
  line-height: 13px;
  flex-direction: column;

  &:before {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  content: ".";
  margin-bottom: 80px;
  }
  }
}

.footer__bottom-container:before, .footer__bottom-container:after {
  color: @white;
  border-top: @border_grey;
}

.footer__bottom-item {
  &:nth-child(4) {
  width: 30%;
  text-align: right;

  @media (max-width: 767px) {
  width: 100%;
  text-align: center;
  }
  }
/*this is kasha*/
  @media (max-width: 1023px) {
  &:nth-child(1), &:nth-child(2) {
  display: none;
  }

  &:nth-child(3) {
  align-self: flex-start;

  @media (max-width: 767px) {
  align-self: center;
  }
  }

  &:nth-child(4) {
  align-self: flex-end;
  }
  }
}
