 
.footer__top-container {
	height: 320px;
	max-width: 1920px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer__logo img {
	height: 52px;
	width: 216px;
}

.footer__socials img {
	height: 26px;
	width: 26px;
	margin-top: 80px;
	margin-right: 15px;
}

.footer__bottom-container {
	display: flex;
	justify-content: space-around;
}
