.header-menu-fon {
	background-image: url("../img/ocean.svg");
	padding-top: 32px;
	
	.menu {
	margin-left: 4%;
	margin-right: 8%;
	
	ul { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	
	li {
	list-style-type: none;
	vertical-align: middle;
	
	span~svg {
	max-width: 19px;

	@media (max-width: 1023px) {
	max-width: 25px;
	}
}	
	span {
	@media (max-width: 1023px) {
	display: none;
	}
	}
	}
	}
	}
}

.menu img[src*="white"] {
	@media (max-width: 768px) {
	display: none;
	}
}

.menu img[src*="mobile"] {
	@media (min-width: 767px) {
	display: none;
	}
}

.menu__button {
	border-radius: 5px;
	margin-top: 20px;
	padding: 20px 50px;
	
	&:hover {
	cursor: pointer;
	}
	
	@media (max-width: 1023px) {
	display: none;
	}
}

.header {
	padding: 14% 9% 5% 6%;
	display: flex;
	justify-content: center;

	@media (min-width: 320px) and (max-width: 767px) {
	flex-direction: column-reverse;
	}
	
	p {
	margin-left: 90px;
	}
}

.header__button {
	width: 407px;
	height: 55px;
	padding: 20px 40px;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 90px;

	@media (min-width: 768px) and (max-width: 1023px) {
	width: 379px;
	height: 55px;
	}

	@media (min-width: 320px) and (max-width: 767px) {
	width: 287px;
	height: 55px;
	}

	&:hover {
	cursor: pointer;
	}
}

.header__button_desctop {
	@media (min-width: 320px) and (max-width: 767px) {
	display: none;
	}
}

.header__button_mobile {
	display: none;

	@media (min-width: 320px) and (max-width: 767px) {
	display: inline;
	}
}

/*прямоугольник на линии с абзацем?*/
.header__item {

/*мигающий скролл вниз?*/
	a>p {
	transform: rotate(-90deg);
	margin-top: 100px;
	margin-left: -40px;
	width: 93px;
	height: 16px;

	@media (max-width: 1023px) {
	display: none;
	}
	}
	
	img {
	width: 100%;
	}
	
	@media (min-width: 320px) and (max-width: 767px) {
	width: 80%;
	}
}
