.services {
  background-color: @blue_dark;
  padding: 93px calc((100% - 1170px)/2) 127px;

  @media (min-width: 768px) and (max-width: 1023px) {
  padding: 53px 5% 32px;
  }

  @media (max-width: 767px) {
  padding: 53px 4% 34px;
  }
}

.services p {
 font-family: "pt_mono", "courier new", monospace;
 color: @white;
}

.services h2 {
  .font_36_51;
  font-family: "roboto_condensed", "arial", sans-serif;
  font-weight: normal;
  color: @white;
  text-align: left;
  margin-bottom: 46px;

  @media (min-width: 768px) and (max-width: 1023px) {
  .font_32_45;
  margin-bottom: 40px;
  }

  @media (max-width: 767px) {
  .font_28_39;
  margin-left: 10px;
  margin-bottom: 50px;
  }
}

.services__images {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
  flex-direction: column;
  align-items: center;
  }
}

.services__production {
  /* 2.0 dpr */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  background-image: url("../img/production@2x.webp"), url("../img/production@2x.png");
  }

  background-image: url("../img/production.webp"), url("../img/production.png");
}

.services__montage {
  /* 2.0 dpr */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  background-image: url("../img/montage@2x.webp"), url("../img/montage@2x.png");
  }

  background-image: url("../img/montage.webp"), url("../img/montage.png");
}

.services__complect {
  /*2.0 dpr */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  background-image: url("../img/complect@2x.webp"), url("../img/complect@2x.png");
  }

  background-image: url("../img/complect.webp"), url("../img/complect.png");
}

.services__images_pad() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 256px;
  margin-bottom: 46px;
}

.services__production, .services__montage, .services__complect {
  background-color: fade(@blue_dark, 50%);
  background-blend-mode: overlay;
  width: 370px;
  height: 620px;
  position: relative;
  display: flex;
  justify-content: flex-start;

  @media (min-width: 768px) and (max-width: 1023px) {
  .services__images_pad;
  }

  @media (max-width: 767px) {
  .services__images_pad;
  margin-bottom: 30px;
  }

  a {
  width: 100%;
  height: 100%;
  }
}

.services__images p {
  width: 50%;
  font-family: "roboto_condensed", "arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  align-self: flex-start;
  margin: 44px 0 0 53px;

  @media (min-width: 768px) and (max-width: 1023px) {
  width: 25%;
  margin: 43px 0 0 44px;
  }

  @media (max-width: 767px) {
  width: 60%;
  margin: 23px 0 0 35px;
  }
}

.services__button {
  background-color: @blue_light;
  width: 63px;
  height: 63px;
  font-size: 24px;
  font-weight: normal;
  color: @white;
  border: @border_blue;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
