.button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-family: "roboto_condensed", "arial", sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover {
  cursor: pointer;
  }
}
