a {
	color: inherit;
}

@color-blueDark: #1B2D37;
@color-blueLight: #00B2FF;
@color-white: #FFF;
@color-grey: #666666;

@border-blueLight: 1px solid @color-blueLight;
@border-white: 1px solid @color-white;
/*рамки кнопок после нажатия черные это видимо состояние focus */
.button_BlueToWhite() {
	background-color: @color-blueLight;
	color: @color-white;
	
	&:hover {
	background-color: @color-white;
	color: @color-blueLight;
	}
	
	&:active, &:focus {
	outline: none;
	}
}

.button_WhiteToBlue() {
	background-color: @color-white;
	color: @color-blueLight;
	
	&:hover {
	background-color: @color-blueLight;
	color: @color-white;
	}
	
	&:active, &:focus {
	outline: none;
	}
}

.button_Transparent() {
	background-color: fade(@color-white, 0%);
	color: @color-white;
	border: @border-white;
	
	&:hover {
	color: @color-blueLight;
	border: @border-blueLight;
	}
	
	&:active, &:focus {
	outline: none;
	}
}

.form () {
	background-color: @color-blueLight;
	color: @color-white;
	
	input, textarea {
	background-color: fade(@color-white, 10%);
	border: @border-blueLight;
	color: @color-white;
	
	&:focus{
	border: @border-white;
	}
	}
}

.popup__display {
	background-color: fade(#000, 50%);
}

.popup__form, .consult {
	.form;
	
	label:before {
	border: @border-white;
	color: @color-white;	
	}
}

.popup__cancel {
	background-color: @color-blueLight;
	color: @color-white;
}

.popup__button {
	.button_BlueToWhite;
	border: @border-white;
}

.header-menu-fon {
	background-color: @color-blueDark;
	
	h1, p, li {
	color: @color-white;
	}
}

.menu__button {
	.button_Transparent;
}

.header__button {
	border: @border-blueLight;
	.button_BlueToWhite;
}

.header__item a>p {
	color: fade(@color-white, 50%);
}


.advantages-about-company-fon {
	background-color: @color-white;
}

.advantages__item {
	background-color: @color-white;
	border: 1px solid #EBEBEB;
	border-left: 2px solid @color-blueLight;
	
	h4 {
	color: @color-blueLight;
	}	

	p {
	color: @color-grey;
	}	

	&:hover {
	background-color:@color-blueLight;
	}	

	&:hover svg path {
	fill: @color-white;
	}

	&:hover h4 {
	color: @color-white;
	}
	
	&:hover p {
	color: @color-white;
	}
}




.about-company_text {
	h3, p {
	color: @color-grey;
	}
}

.about-company__button {
	border: @border-blueLight;
	.button_WhiteToBlue;

	&:hover {
	border: @border-white;
	}
}

.services {
	background-color: @color-blueDark;
	
	h2, p {
	color: @color-white;
	}
}

.services__production, .services__montage, .services__complect {
	background-blend-mode: overlay;
	background-color: fade(@color-blueDark, 70%);
}

.services__button {
	background-color: @color-blueLight;
	color: @color-white;
	border: @border-blueLight;
}


.consult__button {
	.button_BlueToWhite;
	border: @border-white;
	
	&:hover {
	border: @border-blueLight;
	}
}


.footer {
	background-color: @color-white;

	h4 {
	color: @color-blueDark;
	}

	p {
	color: 
	fade(@color-blueDark, 50%);
	}
}

.footer__logo:after {
	@media (min-width: 768px) and (max-width: 1023px) {
	color: @color-white;
	border-top: 1px solid fade(#626962, 20%);
	}
}

.footer__bottom-container:after {	
	color: @color-white;
	border-top: 1px solid fade(#626962, 20%);
}